@mixin list-style-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

@mixin svg-background($z-index, $bottom, $left, $width, $height, $repeat){
    content: "";
    position: absolute;
    z-index:$z-index;
    bottom:$bottom;
    left:$left; 
    width: $width;
    height:$height;
    background-repeat:$repeat;
}

/*@mixin image($width, $height, $color, $url) {
    width: $width;
    height: $height;
    background-color:$color;
    background-size: $width $height;
    background-repeat:no-repeat;
    background-image:url($url);
  }*/