.checkbox-list{
    margin-bottom: 39px;
    padding: 0;
    border: none;

    @media(min-width: $tablet-width){
        background-color: #f1f1f1;
        margin-left: -50px;
        margin-right: -50px;
        margin-bottom: 67px;
        padding-top: 50px;
        padding-bottom: 10px;
        padding-left: 50px;
    }
}

.checkbox-list__wrapper{
    @media(min-width: $tablet-width){
        display: flex;
    }
}

.checkbox-list__legend{
    @include legend-form;
    margin-bottom: 34px;

    @media(min-width: $tablet-width){
        width: 167px;
        padding-top: 8px;
    }

    @media(min-width: $desktop-width){
        width: 175px;
        text-align: center; 
     }
}

.checkbox-list__content{
    @media(min-width: $tablet-width){
        display: flex;
        flex-wrap: wrap;
        width: 500px;  
    }

    @media(min-width: $desktop-width){
        width: 760px; 
    }
}

.checkbox-list__item{
    position: relative;
    padding-left: 64px;

    @media(min-width: $tablet-width){
        padding-top: 8px;
        padding-left: 80px;
        width: 50%;
    }

    @media(min-width: $desktop-width){
        width: 33%; 
    }
}

.checkbox-list__item:not(:last-child){
    margin-bottom: 37px;

    @media(min-width: $tablet-width){
        margin-bottom: 50px;
    }
}

.checkbox-list__input{
    @include visually-hidden;

    &:checked + label::after{
        content: "";
        position: absolute;
        left: 9px;
        top: 4px;
        width: 22px;
        height: 16px;
        background-image: url(../img/tick.svg);
        background-repeat: no-repeat;

        @media(min-width: $tablet-width){
            left: 11px;
            top: 8px;
            width: 34px;
            height: 22px;
        }
    }

    &:hover + label::before,
    &:focus + label::before{
        border-color: #62d1ba;
        transition:all 0.3s ease 0s;
    }

    &:active + label::before{
        border-color: #c7c7c7;
    }
}

.checkbox-list__label{
    font-size: 17px;
    font-weight: bold;
    line-height: 18px;
    cursor: pointer;

    &::before{
        content: "";
        position: absolute;
        left: 0;
        top: -8px;
        width: 40px;
        height: 40px;
        border: 1px solid #444444;
        transition:all 0.3s ease 0s;

        @media(min-width: $tablet-width){
            width: 54px;
            height: 54px;
        }
    }
}
