.main-nav{
    position: relative;
    display:flex;
    flex-direction: column;
    
    &__logo{
        padding-top: 22px;
        padding-bottom: 22px;
        text-align: center;
        border-top:1px solid #ececec;
        border-bottom:1px solid #ececec;  
    }

    &__list{
       @include list-style-reset;
    }

    &__item{
        padding-top: 28px;
        padding-bottom: 28px;
        border-bottom:1px solid #ececec;
    }

    &__link{
        position: relative;
        display: block;
        padding-left:76px;
        font-weight: 700;
        color: #000000;
        text-align:left;
        transition: all 0.3s ease 0s;

        &:hover{
            color:#666666;
            transition: all 0.3s ease 0s;
        }

        &:hover path{
            fill:#63d1bb;
            transition: all 0.3s ease 0s;
        }
    }

    &__icon{
        position:absolute;
        left: 32px;
    }

    &__list--hidden{
        display: none;
    }

    &__delivery--hidden{
        display: none;  
    }     
}

.main-nav__burger{
    position: absolute;
    z-index: 2;
    top:32px;
    right:31px; 
    display: block;
    width: 20px;
    height: 14px;
    font-size: 0;
    background-color:transparent;
    border: none;
    outline: none;
    cursor: pointer;
    
    &::before,
    &::after{
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background-color:#221f1f;
        transition: all 0.3s ease 0s;
    }
    
    &::before{
        top:0;
    } 

    &::after{
        bottom:0;
    }

    &.active::before{
        content: "";
        top:6px;
        transform: rotate(45deg);
    }

    &.active::after{
        content: "";
        bottom: 6px;
        transform: rotate(-45deg);
    } 
    
}

.main-nav__span{
    position: absolute;
    left: 0;
    top:6px;
    width: 100%;
    height: 2px;
    background-color:#221f1f;

    &.active{
        transform: scale(0);
    }
}

.main-nav__list--closed{
     transform:  translateX(-100%);
     transition: all 0.8s ease 0s;
        
    &.opened{
        transform: translateX(0);
        transition: all 0.8s ease 0s;
    }
} 

.main-nav__wrapper{
    max-height: 0;
    transition: max-height 0.8s ease 0s;
        
    
    &.active{
        max-height: 500px;
        transition: max-height 0.8s  ease 0s; 
    } 
}