.reviews{
    position: relative;
    margin-bottom: 38px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;

    @media(min-width:$tablet-width){
        display: flex;
        flex-wrap: wrap;
        //justify-content: flex-end; This is style do not work in IE11  with margin:auto
        margin-bottom: 68px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 130px;
    }

    @media(min-width:$desktop-width){
        margin-bottom: 70px;
        padding-left: 225px;
        padding-bottom: 190px;
    }

    &::before{
    @media(min-width:$tablet-width){
        content: "";
        position:absolute;
        top:-86px;
        left: 0;
        width: 350px;
        height: 450px;
        background-image: url(../img/review@1x.jpg);
        background-repeat: no-repeat;
        background-size: 350px 450px;
        }   
        
        @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) { 
            background-image: url(../img/review@2x.jpg);
            background-repeat: no-repeat;
            background-size: 350px 450px;
        }

        @media(min-width:$desktop-width){
            left: 50px; 
        }
    }

    &::after{
        content: "";
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 0;
        width:100%;
        height: 7px;
        background-image: url("../img/bg-line.svg");
        background-position-x:-22px;
        background-size: 320px 7px;
        background-repeat: repeat-x;

        @media(min-width:$tablet-width) {
            height: 16px;
            background-size: 768px 16px;
            background-position-x: -22px;
        }

        @media(min-width:$desktop-width) {
            left: (50/1050*100%);
            width: (1050px/1150px*100%);
            height: 24px;
            background-size: 1050px 24px;
        }
    }
}

.reviews__slider{
    position: relative;
    z-index: 1;
    margin-bottom: 29px;
    line-height: 30px;
    color: #444444;

    @media(min-width:$tablet-width){
        width: 100%;
        flex: 1 0 auto;
        order: 2;
        margin-bottom: 0;
    }
}

.reviews__title{
    position: relative;
    z-index: 1;
    margin-bottom:30px;
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;

    @media(min-width:$tablet-width){
        margin-top: 0;
        margin-bottom: 46px;
        font-size: 43px;
        line-height: 50px;
    }
    
    @media(min-width:$desktop-width){
        font-size: 53px;
        line-height: 57px;
    }
}

.reviews__text{
    margin-bottom: 30px;

    @media(min-width:$tablet-width){
        margin-bottom: 54px;
        padding-right: (30px/768px*100%);
    }

    @media(min-width:$desktop-width){
        margin-bottom: 35px; 
        padding-right: (200px/1150px*100%);
    }
}

.reviews__autor{
    font-weight: bold;
    color: #000000;
}

.reviews__link-mail{
    color:inherit;
    
    &:focus{
        outline-color: tomato; 
    }
}

.reviews__slider-control{
    position: relative;
    z-index: 1;
    display: flex;
    height: 52px;
    margin-left: auto;
    margin-bottom: 38px;
    border: 1px solid #ececec;

    @media(min-width:$tablet-width){
        width: 167px;
        border: none;
        order: 3;
        margin-top: -54px;
        margin-bottom: 0;
    }
}

.reviews__button{
    position: relative;
    width:100%;
    flex: 0 1 auto;
    height: 52px;
    background-color:transparent;
    border: none;
    outline: none;
    cursor: pointer;
    
    &:first-child{
        border-right: 1px solid #ececec;
        
        @media(min-width:$tablet-width){
            border: none;
        }
    }
}

.reviews__button svg{
    position: absolute;
    top:13px;
    transition:all 0.3s ease 0s;
}

.reviews__button:hover svg,
.reviews__button:focus svg{
    fill: #666666;
    transition:all 0.3s ease 0s;
}

.reviews__button:active svg{
    fill: #b2b2b2;
}

.reviews__button--back svg{
    left: 38px;

    @media(min-width:$tablet-width){
        left: 11px;
    }  
}

.reviews__button--next svg{
    right: 38px;

    @media(min-width:$tablet-width){
        right: 11px;
    }  
}

.reviews__link{
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 16px 78px;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    color: #444444;
    text-transform: uppercase;
    border: 2px solid #444444;
    transition:all 0.3s ease 0s;
    
    @media(min-width:$tablet-width){
        padding: 16px 31px;
        order: 1;
        margin-left: auto;
        margin-bottom: -66px;
        align-self: start;
    }

    @media(min-width:$desktop-width){
        padding: 16px 36px;
    }

    &:hover{
        color: #ffffff;
        background-color: #444444;
        transition:all 0.3s ease 0s;
    }

    &:focus{
        outline-color: tomato; 
    }

    &:active{
        color:#757575;
    }
}